_target_: clarena.cl_datasets.SplitCIFAR100
root: data/CIFAR100
class_split: 
  1: [0, 1, 2, 3, 4]
  2: [5, 6, 7, 8, 9]
  3: [10, 11, 12, 13, 14]
  4: [15, 16, 17, 18, 19]
  5: [20, 21, 22, 23, 24]
  6: [25, 26, 27, 28, 29]
  7: [30, 31, 32, 33, 34]
  8: [35, 36, 37, 38, 39]
  9: [40, 41, 42, 43, 44]
  10: [45, 46, 47, 48, 49]
  11: [50, 51, 52, 53, 54]
  12: [55, 56, 57, 58, 59]
  13: [60, 61, 62, 63, 64]
  14: [65, 66, 67, 68, 69]
  15: [70, 71, 72, 73, 74]
  16: [75, 76, 77, 78, 79]
  17: [80, 81, 82, 83, 84]
  18: [85, 86, 87, 88, 89]
  19: [90, 91, 92, 93, 94]
  20: [95, 96, 97, 98, 99]
validation_percentage: 0.1
batch_size: 64